{% extends "authentification/base.html" %}
{% block metatags %}
    <title>Authentification</title>
{% endblock metatags %}
{% block body %}
<nav class="navbar navbar-expand navbar-light"> <a class="navbar-brand" href="/" data-abc="true">SSIS</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="/" data-abc="true">Home</a> </li>
            <li class="nav-item active"> <a class="nav-link" href="/start" data-abc="true">Start scan</a> </li>
            <li class="nav-item active"> <a class="nav-link" href="/resultcheck" data-abc="true">Result</a> </li>
        </ul>
        {% if user.is_authenticated%}
        <!--<h3>Hello {{user.username}} </h3>-->
        <button class="btn btn-primary" type="submit"><a href="/signout" class="link-secondary">Sign Out</a></button>
    {% else %}
    <button class="btn btn-primary" type="submit"><a href="/signup" class="link-secondary">Sign Up</a></button>
    <button class="btn btn-primary" type="submit"><a href="/signin" class="link-secondary">Sign In</a></button>
    {% endif %}
    </div>
</nav>
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Message: </strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>  
        </div>
    {% endfor %}
    {% block content %}
    <div class="jumbotron">
    <h1 display-3>Welcome to Supermarket Shelf Inventory Scanner</h1>
    <p class="lead">
        AI-assisted inventory check system for supermarket products scanning
        <ul>
            <li>Auto-detect shelf contour</li>
            <li>Auto-identify product items on shelf (on any level)</li>
            <li>Count products on shelf (group by product)</li>
            <li>Create re-stocking order in WHMS</li>
        </ul> 
    </p>
        <a class="btn btn-lg btn-primary" href="/start" role="button">Start &raquo;</a>
    </div>
    {% endblock content %}
{% endblock body %}

